<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>581886594781-ttlofpegg7ht8j4hvb2cv7t2hj2t30ir.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.581886594781-ttlofpegg7ht8j4hvb2cv7t2hj2t30ir</string>
	<key>API_KEY</key>
	<string>AIzaSyBeUxeo42D5ZcIFD75hvjXbeKLPRTHPymE</string>
	<key>GCM_SENDER_ID</key>
	<string>581886594781</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>LOVEGGIE.LOVEGGIE</string>
	<key>PROJECT_ID</key>
	<string>uber-71054</string>
	<key>STORAGE_BUCKET</key>
	<string>uber-71054.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:581886594781:ios:17d544e40f429c44e35534</string>
</dict>
</plist>